body {
    background-image: url("https://wallpaperaccess.com/full/1599073.jpg");
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

p, h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

#content {
    width: 600px;
    background-color: aliceblue;
    opacity: 0.7;
}

.tab {
    overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px; 
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 0.7s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
